.header__button {
    padding: 0;
    color: #A9A9A9;
    background: none;
    border: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}